In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier

In [2]:
train = pd.read_csv("train.csv")
print(train.shape)
train.head()

(2879, 48)

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,...,R3,R4,R5,R6,R7,O1,O2,O3,O4,Y
0,1,0,1,0,1,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,1
1,2,0,1,0,1,0,1,1,0,0,...,0,0,0,1,0,0,0,1,0,1
2,3,1,1,0,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,1,1
3,4,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
4,5,0,0,1,1,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,1

In [3]:
test = pd.read_csv("test.csv")
print(test.shape)
test.head()

(300, 47)

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,...,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4
0,1,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,2,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,3,1,1,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,4,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,5,1,0,1,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [4]:
def convert(x):
    ids = np.unique(x)
    vals = 0
    pd = np.zeros((x.shape))
    for item in ids:
        pd[x==item] = vals
    return pd
X = train.drop(['Y'],axis=1)
X['ID'] = convert(X['ID'].values)

test['ID'] = convert(test['ID'].values)

X = X.apply(pd.to_numeric, errors='coerce')
X.fillna(0, inplace = True)

test = test.apply(pd.to_numeric, errors='coerce')
test.fillna(0, inplace = True)

y = train['Y']

X = X.astype(float)
test = test.astype(float)
pd.options.display.max_columns = None
X.head()

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25,T26,T27,T28,T29,T30,R1,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4
0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=5,stratify = y)
y_test

547     1
2261    3
67      1
1182    1
2789    3
       ..
721     1
676     1
2228    3
1359    1
345     1
Name: Y, Length: 576, dtype: int64

In [6]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(test)
y_pred
results = np.around(knn.predict_proba(test),2)
results.transpose()
res = pd.DataFrame(results, columns = ['C1','C2','C3'])
df = pd.DataFrame(data=res)
df.to_csv('k.csv')