In [127]:
import itertools
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [128]:
def convert(x):
    ids = np.unique(x)
    vals = 0
    pd = np.zeros((x.shape))
    for item in ids:
        pd[x==item] = vals
    return pd

In [129]:
train = pd.read_csv("train.csv")
train.head()

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25,T26,T27,T28,T29,T30,R1,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4,Y
0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
1,2,0,1,0,1,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
2,3,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
3,4,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1
4,5,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1

In [130]:
test = pd.read_csv("test.csv")
print(test.shape)
test.head()

(300, 47)

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25,T26,T27,T28,T29,T30,R1,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4
0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0
1,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1
2,3,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,4,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
4,5,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1

In [131]:
train1 = pd.read_csv("train1.csv")
train1.head()

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25,T26,T27,T28,T29,T30,R1,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4,Y
0,1,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,1
1,2,0,1,0,1,0,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,1
2,3,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,1
3,4,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1
4,5,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1

In [132]:
train2 = pd.read_csv("train2.csv")
train2.head()

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25,T26,T27,T28,T29,T30,R1,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4,Y
0,1733,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,2
1,1734,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,2
2,1735,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,2
3,1736,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,2
4,1737,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,2

In [133]:
train3 = pd.read_csv("train3.csv")
train3.head()

,ID,G1,G2,G3,G4,G5,T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,T17,T18,T19,T20,T21,T22,T23,T24,T25,T26,T27,T28,T29,T30,R1,R2,R3,R4,R5,R6,R7,O1,O2,O3,O4,Y
0,1927,1,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,3
1,1928,1,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,3
2,1929,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,3
3,1930,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,3
4,1931,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,3

In [134]:
X1 = train1.drop(['Y'],axis=1)
X1['ID'] = convert(X1['ID'].values)

test['ID'] = convert(test['ID'].values)

X1 = X1.apply(pd.to_numeric, errors='coerce')
X1.fillna(0, inplace = True)

test = test.apply(pd.to_numeric, errors='coerce')
test.fillna(0, inplace = True)
X1 = X1.astype(float)
test = test.astype(float)
pd.options.display.max_columns = None

In [135]:
X2 = train2.drop(['Y'],axis=1)
X2['ID'] = convert(X2['ID'].values)
test['ID'] = convert(test['ID'].values)
X2 = X2.apply(pd.to_numeric, errors='coerce')
X2.fillna(0, inplace = True)
test = test.apply(pd.to_numeric, errors='coerce')
test.fillna(0, inplace = True)
X2 = X2.astype(float)
test = test.astype(float)
pd.options.display.max_columns = None

In [136]:
X3 = train3.drop(['Y'],axis=1)
X3['ID'] = convert(X3['ID'].values)
test['ID'] = convert(test['ID'].values)
X3 = X3.apply(pd.to_numeric, errors='coerce')
X3.fillna(0, inplace = True)
test = test.apply(pd.to_numeric, errors='coerce')
test.fillna(0, inplace = True)
X3 = X3.astype(float)
test = test.astype(float)
pd.options.display.max_columns = None

In [137]:
X = train.drop(['Y'],axis=1)
X['ID'] = convert(X['ID'].values)

test['ID'] = convert(test['ID'].values)

X = X.apply(pd.to_numeric, errors='coerce')
X.fillna(0, inplace = True)

test = test.apply(pd.to_numeric, errors='coerce')
test.fillna(0, inplace = True)

y = train['Y']

X = X.astype(float)
test = test.astype(float)
pd.options.display.max_columns = None

In [138]:
y=train['Y']
y1=train1['Y']
y2=train2['Y']
y3=train3['Y']
y,y1,y2,y3

(0       1
 1       1
 2       1
 3       1
 4       1
        ..
 3528    3
 3529    3
 3530    3
 3531    3
 3532    3
 Name: Y, Length: 3533, dtype: int64, 0       1
 1       1
 2       1
 3       1
 4       1
        ..
 1727    1
 1728    1
 1729    1
 1730    1
 1731    1
 Name: Y, Length: 1732, dtype: int64, 0      2
 1      2
 2      2
 3      2
 4      2
       ..
 189    2
 190    2
 191    2
 192    2
 193    2
 Name: Y, Length: 194, dtype: int64, 0      3
 1      3
 2      3
 3      3
 4      3
       ..
 948    3
 949    3
 950    3
 951    3
 952    3
 Name: Y, Length: 953, dtype: int64)

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20,random_state=
                                                    12)

In [140]:
from xgboost import XGBClassifier
from xgboost import plot_importance
from sklearn import metrics
clf = XGBClassifier(n_estimators=700,
        # 如同學習率
        learning_rate= 0.1, 
       )
clf.fit(X_train, y_train)
test_predict=clf.predict(X_test)

In [141]:
test_predict1=clf.predict(X1)
test_predict2=clf.predict(X2)
test_predict3=clf.predict(X3)

In [142]:
test_predict1
test_predict2
test_predict3

array([3, 3, 3, 1, 3, 1, 3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1,
       1, 3, 3, 1, 1, 1, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3, 1, 3, 3, 1, 1, 3,
       3, 3, 3, 1, 1, 3, 1, 3, 3, 3, 3, 3, 1, 1, 3, 1, 1, 3, 1, 1, 3, 3,
       1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 1, 3, 3, 3, 3,
       3, 1, 1, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 1, 1,
       3, 3, 3, 3, 3, 3, 1, 1, 1, 3, 3, 3, 3, 1, 1, 3, 1, 3, 1, 3, 3, 3,
       1, 3, 1, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3, 1, 1, 1, 3,
       3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 1, 3, 3, 1, 3, 3, 3, 1, 3, 3,
       3, 1, 1, 1, 3, 3, 3, 1, 1, 3, 3, 1, 1, 1, 3, 3, 1, 1, 1, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3, 1,
       3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 1, 3, 3, 1, 1, 3, 3, 3,
       3, 3, 3, 3, 1, 3, 3, 1, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1,
       3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 1, 3, 3, 3, 3, 3, 1, 3, 3,
       1, 3, 1, 3, 3, 3, 1, 3, 1, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       1, 1, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 3, 1, 3,
       1, 3, 2, 1, 3, 3, 1, 3, 1, 3, 3, 1, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3,
       3, 1, 1, 3, 3, 1, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3,
       3, 1, 3, 1, 3, 3, 3, 3, 1, 3, 3, 3, 1, 1, 3, 3, 1, 3, 1, 1, 3, 3,
       3, 1, 3, 3, 3, 1, 1, 3, 3, 1, 1, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 1,
       1, 3, 3, 1, 3, 3, 1, 3, 1, 1, 3, 3, 3, 3, 1, 1, 1, 1, 1, 3, 1, 3,
       3, 1, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 1, 3, 1, 3, 1, 1, 3, 1, 1, 3,
       3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 1, 1, 1, 3, 1, 3, 1, 3, 1, 3, 3,
       1, 1, 3, 1, 3, 1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 1,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 1, 3, 3, 1, 2,
       1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 3, 1, 3, 1, 3, 3,
       3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 1, 1, 3, 3, 2, 1, 3, 3, 1, 3, 1, 3,
       3, 3, 3, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1,
       3, 3, 3, 1, 3, 1, 1, 3, 3, 3, 1, 1, 1, 3, 3, 3, 3, 1, 3, 1, 1, 1,
       3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3,
       1, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1,
       3, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 3, 1, 3, 3, 3, 1, 3, 3,
       1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 1, 3,
       3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 3, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 1, 3, 1, 3, 1, 1, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1,
       1, 3, 3, 1, 3, 3, 1, 3, 3, 1, 3, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 1,
       3, 1, 3, 3, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1,
       3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 1, 1, 3, 3, 3, 1, 1, 3, 3,
       1, 1, 3, 3, 3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 3, 3,
       1, 3, 3, 3, 1, 3, 1, 3, 3, 3, 1, 3, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3,
       1, 1, 3, 3, 3, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 1, 3,
       1, 3, 3, 3, 3, 3, 3], dtype=int64)

In [143]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, test_predict)
score1 = accuracy_score(y1, test_predict1)
score2 = accuracy_score(y2, test_predict2)
score3 = accuracy_score(y3, test_predict3)
score,score1,score2,score3

(0.6025459688826026, 0.562933025404157, 0.9432989690721649, 0.6852046169989506)

In [144]:
test_predict

array([1, 3, 3, 3, 1, 3, 1, 1, 3, 3, 1, 3, 1, 3, 3, 1, 1, 3, 1, 3, 3, 3,
       3, 3, 1, 3, 1, 3, 3, 1, 3, 1, 3, 3, 1, 3, 1, 3, 3, 1, 3, 3, 3, 1,
       1, 1, 3, 3, 3, 1, 3, 2, 1, 1, 3, 3, 3, 1, 3, 1, 3, 3, 1, 3, 3, 1,
       2, 2, 1, 3, 1, 3, 1, 1, 1, 3, 3, 3, 3, 3, 3, 1, 3, 3, 1, 1, 1, 1,
       1, 3, 1, 3, 3, 1, 1, 3, 3, 1, 3, 1, 1, 3, 1, 3, 3, 3, 1, 1, 3, 2,
       3, 1, 1, 1, 3, 3, 1, 1, 3, 3, 3, 2, 1, 1, 1, 1, 1, 1, 3, 1, 3, 1,
       2, 1, 1, 3, 1, 2, 3, 3, 3, 2, 1, 3, 3, 3, 3, 2, 3, 3, 1, 1, 3, 1,
       3, 1, 1, 1, 1, 1, 3, 1, 2, 3, 3, 1, 3, 1, 1, 3, 3, 1, 1, 2, 2, 1,
       2, 3, 3, 3, 1, 1, 3, 3, 3, 1, 3, 1, 1, 1, 3, 3, 1, 3, 3, 1, 3, 3,
       1, 1, 3, 1, 3, 3, 3, 3, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 3, 1, 1, 2,
       3, 1, 3, 1, 2, 3, 3, 1, 1, 2, 3, 3, 3, 3, 1, 1, 1, 3, 1, 3, 3, 1,
       3, 3, 1, 3, 1, 3, 1, 1, 3, 3, 1, 1, 3, 3, 3, 1, 1, 1, 3, 3, 1, 1,
       1, 3, 2, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1,
       1, 3, 1, 2, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 3, 1, 3, 3,
       3, 3, 2, 2, 3, 1, 3, 3, 3, 3, 3, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 3,
       3, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3, 3, 1, 1, 1, 3, 3, 1, 1, 1, 1, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 1, 1, 3,
       1, 1, 1, 3, 1, 3, 3, 1, 3, 1, 3, 3, 1, 3, 1, 3, 3, 1, 1, 1, 3, 1,
       1, 3, 1, 3, 1, 1, 1, 3, 1, 1, 3, 1, 3, 3, 3, 3, 3, 3, 1, 3, 2, 3,
       3, 3, 3, 3, 1, 1, 1, 1, 3, 1, 1, 2, 1, 3, 3, 2, 3, 1, 3, 1, 2, 3,
       3, 1, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 2, 3, 1, 3, 3, 3,
       3, 1, 3, 1, 3, 1, 1, 3, 1, 3, 3, 3, 1, 2, 3, 3, 3, 1, 3, 3, 3, 1,
       1, 1, 3, 3, 3, 3, 1, 1, 3, 1, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 3, 1,
       3, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 1, 3, 2, 2, 3, 3, 1, 1, 3,
       1, 3, 2, 3, 3, 1, 1, 1, 3, 1, 3, 1, 1, 3, 1, 3, 1, 1, 1, 3, 1, 3,
       1, 3, 1, 3, 3, 3, 3, 3, 1, 1, 3, 1, 1, 3, 3, 3, 3, 1, 1, 3, 3, 1,
       3, 1, 1, 3, 3, 3, 3, 3, 2, 1, 1, 3, 3, 1, 1, 3, 3, 3, 2, 3, 3, 3,
       3, 1, 1, 3, 2, 3, 2, 3, 1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 2, 3, 1, 2,
       1, 3, 3, 3, 1, 3, 1, 1, 1, 3, 3, 3, 3, 3, 1, 3, 1, 1, 3, 1, 1, 1,
       1, 2, 3, 1, 3, 3, 2, 1, 1, 3, 1, 3, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1,
       3, 3, 1, 3, 3, 3, 1, 1, 1, 1, 1, 3, 1, 3, 3, 3, 3, 3, 3, 3, 3, 1,
       3, 1, 1, 3, 1, 2, 1, 1, 3, 3, 1, 1, 3, 3, 1, 1, 2, 3, 1, 3, 1, 1,
       3, 1, 1], dtype=int64)

In [145]:
from sklearn.metrics import classification_report, confusion_matrix
print("Accuracy:",metrics.accuracy_score(y_test, test_predict))
print(confusion_matrix(y_test, test_predict))
print(classification_report(y_test, test_predict))

Accuracy: 0.6025459688826026
[[184   0 151]
 [  1  41   5]
 [124   0 201]]
              precision    recall  f1-score   support

           1       0.60      0.55      0.57       335
           2       1.00      0.87      0.93        47
           3       0.56      0.62      0.59       325

   micro avg       0.60      0.60      0.60       707
   macro avg       0.72      0.68      0.70       707
weighted avg       0.61      0.60      0.60       707

In [146]:
results = np.around(clf.predict_proba(test),2)
results.transpose()

array([[0.56, 0.  , 0.43, 0.7 , 0.01, 0.43, 0.  , 0.  , 0.77, 0.61, 0.25,
        0.55, 0.  , 0.45, 0.06, 0.55, 0.7 , 0.06, 0.4 , 0.47, 0.  , 0.97,
        0.43, 0.  , 0.55, 0.  , 0.  , 0.  , 0.  , 0.  , 0.35, 0.  , 0.55,
        0.53, 0.45, 0.02, 0.45, 0.48, 0.  , 0.  , 0.45, 0.02, 0.  , 0.  ,
        0.45, 0.38, 0.42, 0.48, 0.  , 0.46, 0.45, 0.01, 0.99, 0.99, 0.  ,
        0.48, 0.51, 0.01, 0.7 , 0.41, 0.  , 0.61, 0.39, 0.34, 0.56, 0.  ,
        0.  , 0.43, 0.69, 0.97, 0.37, 0.  , 0.03, 0.  , 0.53, 0.47, 0.  ,
        0.  , 0.55, 0.14, 0.  , 0.4 , 0.45, 0.71, 0.02, 0.45, 0.45, 0.94,
        0.47, 0.45, 0.  , 0.59, 0.55, 0.  , 0.46, 0.  , 0.02, 0.55, 0.69,
        0.45, 0.  , 0.  , 0.  , 0.  , 0.79, 0.47, 0.22, 0.45, 0.47, 0.19,
        0.66, 0.55, 0.48, 0.  , 0.01, 0.51, 0.53, 0.46, 0.48, 0.  , 0.49,
        0.48, 0.52, 0.37, 0.5 , 0.  , 0.48, 0.4 , 0.48, 0.  , 0.29, 0.  ,
        0.  , 0.  , 0.  , 0.4 , 0.01, 0.94, 0.48, 0.19, 0.85, 0.45, 0.61,
        0.45, 0.45, 0.45, 0.  , 0.55, 0.19, 0.47, 0.  , 0.53, 0.54, 0.53,
        0.43, 0.91, 0.47, 0.99, 0.  , 0.  , 0.  , 0.  , 0.48, 0.61, 0.61,
        0.63, 0.  , 0.  , 0.48, 0.  , 0.88, 0.53, 0.02, 0.19, 0.72, 0.75,
        0.48, 0.54, 0.  , 0.52, 0.  , 0.34, 0.45, 0.54, 0.53, 0.  , 0.4 ,
        0.46, 0.77, 0.  , 0.  , 0.  , 0.69, 0.45, 0.49, 0.  , 0.69, 0.06,
        0.44, 0.53, 0.33, 0.  , 0.  , 0.45, 0.  , 0.34, 0.26, 0.61, 0.34,
        0.42, 0.72, 0.  , 0.48, 0.14, 0.53, 0.45, 0.03, 0.49, 0.01, 0.01,
        0.44, 0.5 , 0.  , 0.99, 0.45, 0.  , 0.41, 0.  , 0.47, 0.45, 0.01,
        0.06, 0.51, 0.52, 0.45, 0.45, 0.48, 0.62, 0.56, 0.5 , 0.55, 0.5 ,
        0.  , 0.51, 0.44, 0.  , 0.55, 0.43, 0.67, 0.37, 0.  , 0.4 , 0.22,
        0.5 , 0.45, 0.43, 0.  , 0.22, 0.01, 0.  , 0.43, 0.44, 0.55, 0.14,
        0.64, 0.45, 0.55, 0.  , 0.43, 0.68, 0.98, 0.54, 0.51, 0.46, 0.45,
        0.  , 0.37, 0.56, 0.47, 0.02, 0.  , 0.04, 0.45, 0.51, 0.97, 0.18,
        0.37, 0.42, 0.62, 0.78, 0.46, 0.  , 0.19, 0.99, 0.58, 0.61, 0.48,
        0.72, 0.  , 0.51],
       [0.  , 1.  , 0.  , 0.  , 0.98, 0.  , 1.  , 1.  , 0.  , 0.01, 0.  ,
        0.  , 1.  , 0.  , 0.88, 0.  , 0.  , 0.88, 0.02, 0.  , 1.  , 0.  ,
        0.07, 0.99, 0.  , 1.  , 1.  , 1.  , 0.96, 0.99, 0.  , 0.99, 0.  ,
        0.  , 0.  , 0.96, 0.  , 0.  , 0.99, 1.  , 0.  , 0.  , 0.99, 0.96,
        0.  , 0.  , 0.  , 0.  , 0.99, 0.  , 0.  , 0.98, 0.  , 0.  , 1.  ,
        0.  , 0.  , 0.98, 0.  , 0.  , 1.  , 0.01, 0.  , 0.  , 0.  , 1.  ,
        0.99, 0.  , 0.  , 0.  , 0.  , 1.  , 0.95, 1.  , 0.  , 0.  , 1.  ,
        1.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.98, 0.  , 0.  , 0.  ,
        0.  , 0.  , 1.  , 0.  , 0.  , 1.  , 0.  , 1.  , 0.97, 0.  , 0.  ,
        0.  , 1.  , 1.  , 0.99, 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.55,
        0.  , 0.  , 0.  , 0.99, 0.  , 0.  , 0.  , 0.  , 0.01, 0.99, 0.  ,
        0.01, 0.  , 0.  , 0.  , 0.  , 0.  , 0.02, 0.  , 1.  , 0.  , 1.  ,
        1.  , 1.  , 0.99, 0.  , 0.4 , 0.  , 0.  , 0.55, 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 1.  , 0.  , 0.55, 0.  , 1.  , 0.  , 0.  , 0.  ,
        0.  , 0.  , 0.  , 0.  , 1.  , 1.  , 1.  , 1.  , 0.  , 0.  , 0.01,
        0.  , 0.99, 1.  , 0.  , 1.  , 0.  , 0.  , 0.96, 0.55, 0.  , 0.  ,
        0.01, 0.  , 1.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.99, 0.  ,
        0.  , 0.  , 1.  , 1.  , 1.  , 0.  , 0.  , 0.  , 1.  , 0.  , 0.88,
        0.05, 0.  , 0.  , 1.  , 1.  , 0.  , 0.99, 0.  , 0.53, 0.  , 0.  ,
        0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.95, 0.  , 0.99, 0.98,
        0.  , 0.  , 1.  , 0.  , 0.  , 1.  , 0.  , 1.  , 0.  , 0.  , 0.  ,
        0.88, 0.  , 0.04, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        0.99, 0.  , 0.05, 1.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.02, 0.  ,
        0.  , 0.  , 0.  , 1.  , 0.  , 0.98, 1.  , 0.  , 0.05, 0.  , 0.  ,
        0.  , 0.  , 0.  , 1.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
        1.  , 0.07, 0.  , 0.  , 0.97, 1.  , 0.93, 0.  , 0.  , 0.  , 0.06,
        0.  , 0.  , 0.  , 0.  , 0.  , 1.  , 0.55, 0.  , 0.  , 0.01, 0.01,
        0.  , 0.99, 0.  ],
       [0.44, 0.  , 0.57, 0.3 , 0.01, 0.57, 0.  , 0.  , 0.22, 0.38, 0.75,
        0.45, 0.  , 0.55, 0.06, 0.45, 0.3 , 0.06, 0.58, 0.53, 0.  , 0.03,
        0.5 , 0.01, 0.45, 0.  , 0.  , 0.  , 0.04, 0.  , 0.65, 0.01, 0.45,
        0.47, 0.55, 0.02, 0.55, 0.52, 0.  , 0.  , 0.55, 0.98, 0.  , 0.04,
        0.55, 0.62, 0.58, 0.52, 0.01, 0.54, 0.55, 0.01, 0.01, 0.01, 0.  ,
        0.52, 0.49, 0.01, 0.3 , 0.59, 0.  , 0.38, 0.61, 0.66, 0.44, 0.  ,
        0.  , 0.57, 0.31, 0.03, 0.63, 0.  , 0.02, 0.  , 0.47, 0.53, 0.  ,
        0.  , 0.45, 0.86, 0.  , 0.6 , 0.55, 0.29, 0.01, 0.55, 0.55, 0.06,
        0.53, 0.55, 0.  , 0.41, 0.45, 0.  , 0.54, 0.  , 0.01, 0.45, 0.31,
        0.55, 0.  , 0.  , 0.01, 0.  , 0.21, 0.53, 0.78, 0.55, 0.53, 0.26,
        0.34, 0.45, 0.52, 0.01, 0.99, 0.49, 0.47, 0.54, 0.51, 0.01, 0.51,
        0.51, 0.48, 0.63, 0.5 , 1.  , 0.52, 0.58, 0.52, 0.  , 0.71, 0.  ,
        0.  , 0.  , 0.01, 0.6 , 0.6 , 0.06, 0.52, 0.26, 0.15, 0.55, 0.39,
        0.55, 0.55, 0.55, 0.  , 0.45, 0.26, 0.53, 0.  , 0.47, 0.46, 0.47,
        0.57, 0.09, 0.53, 0.01, 0.  , 0.  , 0.  , 0.  , 0.52, 0.39, 0.38,
        0.37, 0.  , 0.  , 0.52, 0.  , 0.12, 0.47, 0.02, 0.26, 0.28, 0.25,
        0.51, 0.46, 0.  , 0.48, 0.  , 0.66, 0.55, 0.46, 0.47, 0.  , 0.6 ,
        0.54, 0.23, 0.  , 0.  , 0.  , 0.31, 0.55, 0.51, 0.  , 0.31, 0.06,
        0.51, 0.47, 0.67, 0.  , 0.  , 0.55, 0.  , 0.66, 0.21, 0.39, 0.66,
        0.58, 0.28, 0.  , 0.52, 0.86, 0.47, 0.55, 0.02, 0.51, 0.  , 0.01,
        0.56, 0.5 , 0.  , 0.01, 0.55, 0.  , 0.59, 0.  , 0.53, 0.55, 0.99,
        0.06, 0.49, 0.44, 0.55, 0.55, 0.52, 0.38, 0.44, 0.5 , 0.45, 0.5 ,
        0.  , 0.49, 0.51, 0.  , 0.45, 0.57, 0.33, 0.63, 0.  , 0.58, 0.78,
        0.5 , 0.55, 0.57, 0.  , 0.78, 0.01, 0.  , 0.57, 0.51, 0.45, 0.86,
        0.36, 0.55, 0.45, 0.  , 0.57, 0.32, 0.02, 0.46, 0.49, 0.54, 0.55,
        0.  , 0.56, 0.44, 0.53, 0.01, 0.  , 0.03, 0.55, 0.49, 0.03, 0.75,
        0.63, 0.58, 0.38, 0.22, 0.54, 0.  , 0.26, 0.01, 0.42, 0.38, 0.51,
        0.28, 0.  , 0.49]], dtype=float32)

In [147]:
res = pd.DataFrame(results, columns = ['C1','C2','C3'])
df = pd.DataFrame(data=res)
df.to_csv('r3.csv')